---
import Layout from '../../layouts/Layout.astro';

const title = "Angelo Voice Model - Brawl Stars";
const description = "Download Angelo Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Brawl Stars Voice Models.";
const rawHtmlContent = "Below we reveal you all <strong>Angelo Voice Models</strong> so you can access and use them in any kind of program. Don't hesitate and start using the most outstanding Brawl Stars voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Angelo</span>\n  <span class=\"vm-cell category\">Brawl Stars</span>\n  <span class=\"vm-cell rvc\">RVC2, RMVPE</span>\n  <span class=\"vm-cell epochs\">200</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/PlayerBPlaytime/My-Models/resolve/main/Angelo.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Angelo-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Angelo-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Angelo-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Angelo is an Epic brawler in the game, known for his long-range attacks and very fast movement speed. Unique for his ability to move over water, Angelo fires arrows that increase in damage over distance. His Super creates a toxic area that harms enemies on contact, and he can also inflict ongoing damage to enemies within this area. Angelo's gadgets include the \"Vampiric Sting,\" which propels him forward to damage nearby foes, and the \"Robust Arrow,\" allowing his next attack to penetrate obstacles and enemies. His skills, \"Natural Antidote\" and \"Hydroflow,\" enhance his healing and speed on water, respectively.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Angelo Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
