---
import Layout from '../../layouts/Layout.astro';

const title = "Antonio Cassano Voice Model - Footballer";
const description = "Download Antonio Cassano Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Footballer Voice Models.";
const rawHtmlContent = "Here we reveal you all <strong>Antonio Cassano Voice Models</strong> so you can access and use them in any type of program. Don't wait any longer and begin using the most outstanding Footballer voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Antonio Cassano</span>\n  <span class=\"vm-cell category\">Footballer</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language\">Italian</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/antoskyron/cassano/resolve/main/cassano.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/antonio-cassano.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Antonio Cassano, born on July 12, 1982 in Bari, Italy, is a former footballer known for his talent and temperament on the field. Emerging from the streets of Bari, his rise in Italian football was meteoric, excelling at Roma before moving to Real Madrid. Despite his ups and downs, his innate ability led him to represent Italy in the national team on multiple occasions, leaving an indelible mark on the history of Italian football.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Antonio Cassano Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
