---
import Layout from '../../layouts/Layout.astro';

const title = "Arnold Schwarzenegger Voice Model - Actor";
const description = "Download Arnold Schwarzenegger Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Actor Voice Models.";
const rawHtmlContent = "Below we show to you every <strong>Arnold Schwarzenegger Voice Models</strong> so you can obtain and use them in any type of program. Don't delay and begin using the best Actor voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Arnold Schwarzenegger</span>\n  <span class=\"vm-cell category\">Actor</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">220</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Hazza1/Terminator/resolve/main/terminator.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/arnold-schwarzenegger-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/arnold-schwarzenegger-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/arnold-schwarzenegger-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Arnold Alois Schwarzenegger, recognized for his legacy in bodybuilding, action cinema, and politics, is an Austrian-American icon. From his early days as Mr. Universe champion to his starring roles in films like Terminator and Total Recall, he has left an indelible mark on popular culture. His tenure as Governor of California solidified his legacy as a leader. With a net worth of 450 million dollars, Schwarzenegger remains an influential and admired figure in various fields.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Arnold Schwarzenegger Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
