---
import Layout from '../../layouts/Layout.astro';

const title = "Astérix Voice Model - Astérix-Obélix";
const description = "Download Astérix Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Astérix-Obélix Voice Models.";
const rawHtmlContent = "Below we demonstrate to you all <strong>Astérix Voice Models</strong> so you are able to download and use them in whatever type of program. Don't hesitate and begin using the most outstanding Astérix-Obélix voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Astérix</span>\n  <span class=\"vm-cell category\">Astérix-Obélix</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">220</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/PtitLulu/Asterix_RogerCarel/resolve/main/Asterix_RogerCarel_V1.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/asterix-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/asterix-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/asterix-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>Asterix, the iconic Gaulish hero from the comics, is known for his intelligence, wit, and bravery. Accompanied by his loyal friend Obelix, Asterix embarks on epic adventures, overcoming challenges with cunning and strength. Despite his diminutive stature, he possesses remarkable skills and gains incredible strength from the magical potion brewed by the druid Panoramix. With a penchant for helping others and defending his village from invaders, Asterix embodies the classic hero archetype, revered for his loyalty, honor, and camaraderie.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Astérix Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
