---
import Layout from '../../layouts/Layout.astro';

const title = "Atreus Voice Model - God of War";
const description = "Download Atreus Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best God of War Voice Models.";
const rawHtmlContent = "Here we reveal to you every <strong>Atreus Voice Models</strong> so you are able to download and use them in any type of program. Don't wait any longer and begin using the top God of War voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Atreus</span>\n  <span class=\"vm-cell category\">God of War</span>\n  <span class=\"vm-cell rvc\">RVMPE</span>\n  <span class=\"vm-cell epochs\">200</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Homiebear/ATREUS/resolve/main/Atreus.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Atreus</span>\n  <span class=\"vm-cell category\">God of War</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">240</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/imcertibtw/AtreusGodofWar/resolve/main/Atreus.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Atreus.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Atreus, the adolescent god, son of Kratos and the Giantess Laufey, also known as Loki among Giants and Aesir gods. Initially frail, he lived secluded with his mother until her death, after which he reluctantly joins Kratos. Unlike his Spartan father, Atreus is fluent in ancient Norse, aiding them in various situations. Armed with a magical bow, part of his father's training, and a small dagger inherited from his mother, Atreus proves to be a valuable ally.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Atreus Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
