---
import Layout from '../../layouts/Layout.astro';

const title = "Ava Max Voice Model - Singer";
const description = "Download Ava Max Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Singer Voice Models.";
const rawHtmlContent = "Below we reveal to you every <strong>Ava Max Voice Models</strong> so you are able to access and use them in whatever kind of program. Don't wait any longer and start using the top Singer voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Ava Max</span>\n  <span class=\"vm-cell category\">Singer</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">1000</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Ryujin88/avadiamond/resolve/main/avadiamond.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Ava Max</span>\n  <span class=\"vm-cell category\">Singer</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">350</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Ryujin88/AVA_MAX_HEAVEN_AND_HELL/resolve/main/heavenxhellava.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/ava-max-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/ava-max-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/ava-max-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Ava Max, born Amanda Ava Koçi on February 16, 1994, in Milwaukee, Wisconsin, is an American singer-songwriter of Albanian descent. Rising to fame with her hit single \"Sweet but Psycho,\" released in August 2018 under Atlantic Records, she achieved chart-topping success in 22 countries, including the UK, Germany, and the US. Recognized for her distinctive hairstyle, dubbed the Max Cut, Max released her debut studio album \"Heaven & Hell\" in September 2020, garnering international acclaim.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Ava Max Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
