---
import Layout from '../../layouts/Layout.astro';

const title = "Baguette Voice Model - Brawl Of The Objects";
const description = "Download Baguette Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Brawl Of The Objects Voice Models.";
const rawHtmlContent = "Here we demonstrate to you all <strong>Baguette Voice Models</strong> so you can obtain and use them in whatever type of program. Don't delay and start using the most outstanding Brawl Of The Objects voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Baguette</span>\n  <span class=\"vm-cell category\">Brawl Of The Objects</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">100</span>\n  <span class=\"vm-cell language\">English</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/cheir/english_baguette/resolve/main/english_baguette.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Baguette</span>\n  <span class=\"vm-cell category\">Brawl Of The Objects</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">100</span>\n  <span class=\"vm-cell language\">French</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/cheir/BAGUETTE/resolve/main/baguettev1.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Baguette.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Baguette, a participant on Brawl of the Objects, adds a unique flair with his bilingual abilities. Placed on Team Chocolate, he surprises viewers by speaking both English and French, with subtitles provided for the latter. Despite his language skills, Baguette strategically employs French stereotypes to create the illusion of being solely French, as revealed in Episode 12, Rookie Mistakes. This playful twist adds depth to his character and keeps audiences guessing about his true identity.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Baguette Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
