---
import Layout from '../../layouts/Layout.astro';

const title = "Bartholomew Kuma Voice Model - One piece";
const description = "Download Bartholomew Kuma Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best One piece Voice Models.";
const rawHtmlContent = "Below we reveal to you every <strong>Bartholomew Kuma Voice Models</strong> so you are able to access and use them in any type of program. Don't hesitate and start using the best One piece voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Bartholomew Kuma</span>\n  <span class=\"vm-cell category\">One piece</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">260</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Skeetawn/OnePiece-BartholomewKuma/resolve/main/OnePiece-BartholomewKuma.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/bartholomew-kuma-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/bartholomew-kuma-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/bartholomew-kuma-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Bartholomew Kuma, formerly a feared pirate known as the Tyrant, is a complex character from the One Piece series. Once a member of the Seven Warlords of the Sea and a king, Kuma later became a revolutionary and the first complete cyborg Pacifista, transformed by the scientist Vegapunk. Despite his fearsome reputation, Kuma has a nuanced backstory, including being a victim of slander and twice enslaved by the World Nobles. His encounters with the Straw Hat Pirates significantly impact their journey, illustrating his deep and multifaceted nature in the storyline.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Bartholomew Kuma Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
