---
import Layout from '../../layouts/Layout.astro';

const title = "Bartolomeo Voice Model - One Piece";
const description = "Download Bartolomeo Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best One Piece Voice Models.";
const rawHtmlContent = "Here we reveal you every <strong>Bartolomeo Voice Models</strong> so you can obtain and use them in any kind of program. Don't delay and start using the best One Piece voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Bartolomeo</span>\n  <span class=\"vm-cell category\">One Piece</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">260</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Skeetawn/OnePiece-Bartolomeo/resolve/main/OnePiece-Bartolomeo.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/bartolomeo-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/bartolomeo-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/bartolomeo-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>Bartolomeo the Cannibal is the audacious captain of the Barto Club and commander of the second division of the Straw Hat Grand Fleet in the One Piece series. Known as a Supernova, Bartolomeo became famous just a year ago, quickly making a name for himself with his bold and somewhat ruthless demeanor. His fervent admiration for the Straw Hat crew and his own unpredictable antics make him a memorable and complex character within the pirate world.</p>\n  </div>\n</div>\n\n";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Bartolomeo Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
