---
import Layout from '../../layouts/Layout.astro';

const title = "Basil Hawkins Voice Model - One Piece";
const description = "Download Basil Hawkins Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best One Piece Voice Models.";
const rawHtmlContent = "Below we demonstrate to you every <strong>Basil Hawkins Voice Models</strong> so you can obtain and use them in any type of program. Don't hesitate and start using the most outstanding One Piece voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Basil Hawkins</span>\n  <span class=\"vm-cell category\">One Piece</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">205</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Skeetawn/OnePiece-BasilHawkins/resolve/main/OnePiece-BasilHawkins.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/basil-hawkins-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/basil-hawkins-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/basil-hawkins-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>Basil Hawkins, known as The Magician, is a renowned pirate from North Blue and captain of the Hawkins Pirates. A key member of the Beast Pirates and resident of Bakura Town, Hawkins stands out as one of the Worst Generation of pirates, a title given to the notorious group that arrived at Sabaody two years ago. In the One Piece series, he serves as a secondary antagonist in the Wano Country arc, where his strategic and mystical abilities play a pivotal role.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Basil Hawkins Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
