---
import Layout from '../../layouts/Layout.astro';

const title = "Bastion Voice Model - Overwatch";
const description = "Download Bastion Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Overwatch Voice Models.";
const rawHtmlContent = "Below we show you all <strong>Bastion Voice Models</strong> so you can download and use them in any type of program. Don't delay and start using the top Overwatch voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Bastion</span>\n  <span class=\"vm-cell category\">Overwatch</span>\n  <span class=\"vm-cell rvc\">RVC2, RMVPE</span>\n  <span class=\"vm-cell epochs\">315</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/KawaiianPizza/RVC-Models/resolve/main/Bastion_e315.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Bastion</span>\n  <span class=\"vm-cell category\">Overwatch</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">1000</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/officialgrayscale/rvc-models/resolve/main/overwatch2-bastion.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/bastion-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/bastion-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/bastion-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>Once a frontline combatant in the devastating Omnic Crisis, Bastion is a curious robot unit that now explores the world with a fascination for nature. Despite its peaceful pursuits, it maintains a cautious distance from humanity, which continues to view robots with suspicion. Bastion's journey from a war machine to a gentle explorer encapsulates its transformation and the ongoing tensions between humans and robots.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Bastion Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
