---
import Layout from '../../layouts/Layout.astro';

const title = "Bea Voice Model - Brawl Stars";
const description = "Download Bea Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Brawl Stars Voice Models.";
const rawHtmlContent = "Here we demonstrate you all <strong>Bea Voice Models</strong> so you can obtain and use them in any kind of program. Don't hesitate and start using the best Brawl Stars voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Bea</span>\n  <span class=\"vm-cell category\">Brawl Stars</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">680</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Pawlik17/beeautiful/resolve/main/BeeFree.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/bea-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/bea-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/bea-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>Bea is an Epic Brawler from Brawl Stars, part of the nature trio. She fires bees, with the first shot causing minimal damage and the second delivering massive damage if the first hits. Her Super releases drones that slow enemies. Despite her low health, Bea's gadgets enhance her battlefield control: Honey Molasses creates sticky honey that slows opponents, and Rattled Hive sends bees spiraling outward. Her Insta Beeload and Honeycomb Star Powers provide a quick second shot and a protective shield, respectively.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Bea Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
