---
import Layout from '../../layouts/Layout.astro';

const title = "Big Pun Voice Model - Singer";
const description = "Download Big Pun Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Singer Voice Models.";
const rawHtmlContent = "Below we show to you all <strong>Big Pun Voice Models</strong> so you are able to access and use them in whatever type of program. Don't wait any longer and start using the top Singer voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Big Pun</span>\n  <span class=\"vm-cell category\">Singer</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">475</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/DJManelo/DJ_ManeloRVC/resolve/main/BigPun.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/big-pun.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Christopher Lee Ríos, better known by his stage name Big Pun, was a groundbreaking American rapper and songwriter of Puerto Rican descent from the Bronx. Emerging in the mid-1990s from the underground hip-hop scene, Big Pun made significant contributions to the genre and collaborated with artists like Raekwon, The Beatnuts, and Fat Joe. He gained widespread acclaim and commercial success after signing with Loud Records, becoming a defining voice in hip-hop before his untimely death.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Big Pun Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
