---
import Layout from '../../layouts/Layout.astro';

const title = "Big Mom / Charlotte Linlin Voice Model - One Piece";
const description = "Download Big Mom / Charlotte Linlin Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best One Piece Voice Models.";
const rawHtmlContent = "Below we demonstrate you every <strong>Big Mom / Charlotte Linlin Voice Models</strong> so you are able to access and use them in any type of program. Don't hesitate and start using the top One Piece voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Big Mom / Charlotte Linlin</span>\n  <span class=\"vm-cell category\">One Piece</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">250</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/RevolutionaryPie/BigMomRVC/resolve/main/BigMom.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/big-mom-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/big-mom-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/big-mom-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>Charlotte Linlin, better known as Big Mom, is a formidable character in the One Piece series. As the captain of the Big Mom Pirates and the matriarch of the Charlotte family, she once reigned as one of the Four Emperors of the New World. Her dominion extended over Totto Land, where she was queen. Big Mom plays a central antagonist role in the Whole Cake Island arc and a secondary antagonist role in the Wano Country arc. She is also a former member of the notorious Rocks Pirates.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Big Mom / Charlotte Linlin Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
