---
import Layout from '../../layouts/Layout.astro';

const title = "Black Maria Voice Model - One Piece";
const description = "Download Black Maria Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best One Piece Voice Models.";
const rawHtmlContent = "Here we demonstrate to you every <strong>Black Maria Voice Models</strong> so you are able to obtain and use them in any type of program. Don't delay and start using the best One Piece voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Black Maria</span>\n  <span class=\"vm-cell category\">One Piece</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Skeetawn/OnePiece-BlackMaria/resolve/main/OnePiece-BlackMaria.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/black-maria-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/black-maria-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/black-maria-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>Black Maria is a prominent member of the Tobiroppo, the most powerful shinuchi of the Beast Pirates in the One Piece series. Apart from her role in the pirate crew, she is also the owner of a brothel located near Kaidou's mansion on Onigashima. Known for her formidable presence and strategic prowess, Black Maria plays a significant part in the complex dynamics and battles within the series, highlighting her dual roles in power and influence.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Black Maria Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
