---
import Layout from '../../layouts/Layout.astro';

const title = "Boruto Uzumaki Voice Model - Naruto";
const description = "Download Boruto Uzumaki Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Naruto Voice Models.";
const rawHtmlContent = "Below we reveal to you every <strong>Boruto Uzumaki Voice Models</strong> so you can obtain and use them in whatever type of program. Don't delay and start using the top Naruto voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Boruto Uzumaki</span>\n  <span class=\"vm-cell category\">Naruto</span>\n  <span class=\"vm-cell rvc\">RVC2, RVMPE</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/ValtLegend/Boruto/resolve/main/Boruto.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Boruto-uzumaki.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Boruto Uzumaki, the protagonist of Boruto: Naruto Next Generations, is a young ninja from Konohagakure and a member of the prominent Uzumaki clan. As the son of the Seventh Hokage, Naruto Uzumaki, and Hinata Hyūga, Boruto navigates the legacy of his legendary lineage. Despite initial resentment towards his father for his absence due to Hokage duties, Boruto reconciles with him, aspiring to emulate his mentor, Sasuke Uchiha, by supporting the Hokage and their village. He currently serves as a Genin in Team Konohamaru alongside Sarada Uchiha and Mitsuki.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Boruto Uzumaki Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
