---
import Layout from '../../layouts/Layout.astro';

const title = "Bruce Wayne (Harley Quinn Show) Voice Model -";
const description = "Download Bruce Wayne (Harley Quinn Show) Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best  Voice Models.";
const rawHtmlContent = "Here we show to you all <strong>Bruce Wayne (Harley Quinn Show) Voice Models</strong> so you can download and use them in any type of program. Don't hesitate and start using the top  voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Bruce Wayne (Harley Quinn Show)</span>\n  <span class=\"vm-cell category empty\">-</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">146</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Prestiggy/BruceWayne-HQShow/resolve/main/BruceWayne.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Bruce-wayne-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Bruce-wayne-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Bruce-wayne-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>In the animated series Harley Quinn, Batman is portrayed as Gotham City's determined yet sometimes beleaguered vigilante. This version of Batman balances his brooding, justice-driven persona with unexpected moments of dry humor, adding depth to his character. Despite the series focusing primarily on Harley and her journey, Batman often appears as a foil to her chaotic exploits, maintaining his iconic status as the city's protector while navigating the complexities and absurdities introduced by the show's colorful cast of characters.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Bruce Wayne (Harley Quinn Show) Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
