---
import Layout from '../../layouts/Layout.astro';

const title = "Bubsy the Bobcat (Bubsy: The Woolies Strikes Back) Voice Model -";
const description = "Download Bubsy the Bobcat (Bubsy: The Woolies Strikes Back) Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best  Voice Models.";
const rawHtmlContent = "Here we reveal to you all <strong>Bubsy the Bobcat (Bubsy: The Woolies Strikes Back) Voice Models</strong> so you are able to access and use them in any kind of program. Don't delay and begin using the top  voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Bubsy the Bobcat (Bubsy: The Woolies Strikes Back)</span>\n  <span class=\"vm-cell category empty\">-</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">200</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/PokeBrother/BubsyBobcatTWSB/resolve/main/Bubsy-Bobcat.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Bubsy-the-bobcat.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Bubsy is an anthropomorphic cat and video game character created by Michael Berlyn and developed by Accolade. Inspired by iconic platformers like Super Mario Bros. and Sonic the Hedgehog, Bubsy became the star of several games during the 90s, including titles like Bubsy in: Claws Encounters of the Furred Kind and Bubsy 3D. Known for his sarcastic personality and arrogant demeanor, Bubsy has been both criticized and cherished, maintaining a loyal fan base despite fluctuating popularity within the gaming industry.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Bubsy the Bobcat (Bubsy: The Woolies Strikes Back) Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
