---
import Layout from '../../layouts/Layout.astro';

const title = "Calamardo [Latino] Voice Model - Bob Esponja";
const description = "Download Calamardo [Latino] Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Bob Esponja Voice Models.";
const rawHtmlContent = "Below we reveal you every <strong>Calamardo [Latino] Voice Models</strong> so you are able to access and use them in whatever kind of program. Don't delay and begin using the top Bob Esponja voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Calamardo [Latino]</span>\n  <span class=\"vm-cell category\">Bob Esponja</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language\">Spanish</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Kelpek/CalamardoLatino/resolve/main/CalamardoLatino.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Calamardo.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Squidward Tentacles is a fictional character from the animated television series SpongeBob SquarePants. Debuting in the pilot episode Help Wanted on May 1, 1999, Squidward is an anthropomorphic octopus with six tentacles, despite his squid-like name. Living in an Easter Island head between SpongeBob and Patrick Star's houses, he is known for his grumpy, arrogant, and often condescending demeanor. Although he despises the antics of his neighbors, they see him as a friend. Squidward works reluctantly as a cashier at the Krusty Krab.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Calamardo [Latino] Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
