---
import Layout from '../../layouts/Layout.astro';

const title = "Cap'n Cuttlefish Voice Model - Splatoon";
const description = "Download Cap'n Cuttlefish Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Splatoon Voice Models.";
const rawHtmlContent = "Below we demonstrate to you every <strong>Cap'n Cuttlefish Voice Models</strong> so you can download and use them in whatever kind of program. Don't delay and start using the best Splatoon voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Cap'n Cuttlefish</span>\n  <span class=\"vm-cell category\">Splatoon</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">200</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/WoomyPearl/RVC-Model-Palace/resolve/main/CapnCuttlefish.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Capn-cuttlefish-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Capn-cuttlefish-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Capn-cuttlefish-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>Craig Cuttlefish, originally Cap'n Cuttlefish, is a pivotal character in the Splatoon series. As a veteran of the Great Turf War and the former captain of both the Squidbeak Splatoon and New Squidbeak Splatoon, he serves as a mentor to the protagonists. Known as the grandfather of Callie and Marie, Cuttlefish equips players with the Hero Suit and guides them through various challenges. In Splatoon 3, he transitions to a senior advisor role while continuing to support the new Agent 3 in their endeavors.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Cap'n Cuttlefish Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
