---
import Layout from '../../layouts/Layout.astro';

const title = "Capone Bege Voice Model - One Piece";
const description = "Download Capone Bege Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best One Piece Voice Models.";
const rawHtmlContent = "Here we show you every <strong>Capone Bege Voice Models</strong> so you can access and use them in any kind of program. Don't hesitate and start using the top One Piece voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Capone Bege</span>\n  <span class=\"vm-cell category\">One Piece</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">205</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Skeetawn/OnePiece-CaponeBege/resolve/main/OnePiece-CaponeBege.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Capone-bege-280x280.webp 1x, /uploads/2024/04/Capone-bege.webp 2x\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Capone-bege-360x360.webp 1x, /uploads/2024/04/Capone-bege-360x360.webp 2x\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Capone-bege-360x360.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Capone Gang Bege is the captain of the Fire Tank Pirates and a former member of the Big Mom Pirates. Known for his role as one of the Worst Generation, Bege is a notorious figure originating from the Five Families of the West in West Blue. He surfaced as a secondary antagonist in the Zou arc and played a pivotal role in the Whole Cake Island arc, where he formed an unlikely alliance with the Straw Hat Pirates in a bold attempt to assassinate Big Mom.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Capone Bege Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
