---
import Layout from '../../layouts/Layout.astro';

const title = "Captain Crocodile Voice Model - Robin Hood";
const description = "Download Captain Crocodile Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Robin Hood Voice Models.";
const rawHtmlContent = "Here we show you every <strong>Captain Crocodile Voice Models</strong> so you can access and use them in whatever kind of program. Don't delay and start using the top Robin Hood voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Captain Crocodile</span>\n  <span class=\"vm-cell category\">Robin Hood</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/frankmurray/candycandido/resolve/main/candycandi.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Captain-crocodile-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Captain-crocodile-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Captain-crocodile-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>Captain Crocodile is a minor antagonist in the 1973 animated film Robin Hood. As a loyal henchman to the greedy Prince John, Captain Crocodile enforces the prince’s oppressive taxes on the poor citizens of Nottingham. Portrayed with a menacing demeanor, he plays a key role in the prince's schemes to capture the heroic Robin Hood and his merry band. Despite his limited screen time, Captain Crocodile's character contributes to the overarching conflict between the corrupt authority and the rebellious folk hero.</p>\n  </div>\n</div>\n\n\n";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Captain Crocodile Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
