---
import Layout from '../../layouts/Layout.astro';

const title = "Captain Olimar Voice Model - Pikmin 3";
const description = "Download Captain Olimar Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Pikmin 3 Voice Models.";
const rawHtmlContent = "Below we demonstrate you every <strong>Captain Olimar Voice Models</strong> so you are able to obtain and use them in any type of program. Don't wait any longer and start using the best Pikmin 3 voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Captain Olimar</span>\n  <span class=\"vm-cell category\">Pikmin 3</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">750</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/StickGuyWasTaken/Olimar/resolve/main/Olimar.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Captain-Olimar-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Captain-Olimar-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Captain-Olimar-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>Captain Olimar is the protagonist of the Pikmin video game series, where he discovered and named the creatures known as Pikmin. Hailing from the planet Hocotate, Olimar is a valuable employee of Hocotate Freight, a space transport company, and the captain of various ships across the series, including the S.S. Dolphin and the Hocotate Ship. A family man, he balances his space adventures with a commitment to his wife, two children, and a pet back home, embodying the spirit of exploration and discovery.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Captain Olimar Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
