---
import Layout from '../../layouts/Layout.astro';

const title = "Captain Salazar Voice Model - Pirates Of the Caribbean";
const description = "Download Captain Salazar Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Pirates Of the Caribbean Voice Models.";
const rawHtmlContent = "Here we demonstrate to you every <strong>Captain Salazar Voice Models</strong> so you are able to access and use them in any type of program. Don't hesitate and start using the top Pirates Of the Caribbean voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Captain Salazar</span>\n  <span class=\"vm-cell category\">Pirates Of the Caribbean</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">250</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/frankmurray/CaptainSalarzar/resolve/main/captainsalarzar1.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Captain-Salazar-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Captain-Salazar-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Captain-Salazar-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>Armando Salazar, a legendary and fearsome pirate hunter, once dominated the Caribbean waters. A high-ranking officer in the Spanish Royal Navy, Salazar commanded the Silent Mary, a formidable warship dedicated to pirate hunting. Known for his ruthless tactics, he was a decorated captain whose very name struck fear into the hearts of pirates across the seas. His relentless pursuit of pirates made him a notorious figure in naval history.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Captain Salazar Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
