---
import Layout from '../../layouts/Layout.astro';

const title = "Captain K'nuckles Voice Model - The Marvellous Misadventures of Flapjack";
const description = "Download Captain K'nuckles Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best The Marvellous Misadventures of Flapjack Voice Models.";
const rawHtmlContent = "Here we demonstrate to you all <strong>Captain K'nuckles Voice Models</strong> so you can obtain and use them in any type of program. Don't hesitate and begin using the most outstanding The Marvellous Misadventures of Flapjack voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Captain K'nuckles</span>\n  <span class=\"vm-cell category\">The Marvellous Misadventures of Flapjack</span>\n  <span class=\"vm-cell rvc empty\">-</span>\n  <span class=\"vm-cell epochs empty\">-</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/GuilStuffs/CaptainKnuckles/blob/main/CaptainKnuckles.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Captain-Knuckles-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Captain-Knuckles-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Captain-Knuckles-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Captain K'nuckles, known as the scourge of the sea and the terror of the tide, claims to be an unstoppable scoundrel and the greatest pirate the world has ever seen. However, the residents of Stormalong Harbor view him as a lazy, compulsive liar, with his exaggerated tales seen as obvious falsehoods to everyone except Flapjack. Despite his tough exterior, K'nuckles has a softer side, and Flapjack remains his only friend. Notably, his body limbs have been replaced with wooden prosthetics, contributing to his distinct, somewhat unpleasant odor.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Captain K'nuckles Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
