---
import Layout from '../../layouts/Layout.astro';

const title = "Captain Jack Sparrow Voice Model - Kingdom Hearts";
const description = "Download Captain Jack Sparrow Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Kingdom Hearts Voice Models.";
const rawHtmlContent = "Below we show you all <strong>Captain Jack Sparrow Voice Models</strong> so you can obtain and use them in whatever kind of program. Don't delay and start using the top Kingdom Hearts voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Captain Jack Sparrow</span>\n  <span class=\"vm-cell category\">Kingdom Hearts</span>\n  <span class=\"vm-cell rvc\">RVMPE</span>\n  <span class=\"vm-cell epochs\">250</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Homiebear/CaptainJackSparrow/resolve/main/JackSparrow.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Captain-Jack-Sparrow-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Captain-Jack-Sparrow-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Captain-Jack-Sparrow-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>Captain Jack Sparrow, portrayed by Johnny Depp, is the iconic antihero of the Pirates of the Caribbean film series, debuting in The Curse of the Black Pearl (2003) and appearing in subsequent sequels. Known for his cunning and treachery, Sparrow often relies on wit and negotiation over brute force, skillfully evading danger while pursuing his beloved ship, The Black Pearl. Depp's portrayal, inspired by Keith Richards and Pepé Le Pew, transformed Sparrow into a beloved character, earning Depp an Oscar nomination and cementing Sparrow's status in pop culture.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Captain Jack Sparrow Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
