---
import Layout from '../../layouts/Layout.astro';

const title = "Carlos Rivera Voice Model - Singer";
const description = "Download Carlos Rivera Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Singer Voice Models.";
const rawHtmlContent = "Here we reveal you every <strong>Carlos Rivera Voice Models</strong> so you can obtain and use them in whatever kind of program. Don't hesitate and begin using the most outstanding Singer voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Carlos Rivera</span>\n  <span class=\"vm-cell category\">Singer</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">275</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/SynthetizedTritone/StRvcModels/resolve/main/carlosrivers_v2_e275.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/carlos-rivera-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/carlos-rivera-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/carlos-rivera-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>Carlos Rivera, full name Carlos Augusto Rivera Guerra, is a prominent Mexican singer, songwriter, and actor. Renowned for his powerful voice and emotive music, Rivera has captivated audiences both in Mexico and internationally. His career took off after winning a reality TV singing competition, leading to successful albums and roles in musical theater, including a celebrated stint as Simba in the Spanish version of The Lion King. His versatility and charm have made him a beloved figure in the Latin music scene.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Carlos Rivera Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
