---
import Layout from '../../layouts/Layout.astro';

const title = "Carl Sagan Voice Model -";
const description = "Download Carl Sagan Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best  Voice Models.";
const rawHtmlContent = "Here we reveal to you every <strong>Carl Sagan Voice Models</strong> so you can access and use them in any type of program. Don't hesitate and start using the top  voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Carl Sagan</span>\n  <span class=\"vm-cell category empty\">-</span>\n  <span class=\"vm-cell rvc\">RCV</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Mf1ve/Berlina/resolve/main/Sagan.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Carl Sagan</span>\n  <span class=\"vm-cell category empty\">-</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">140</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/RoyalAce/carl_sagan_rvc_v2_48k_140_epoch\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Carl-sagan.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Carl Edward Sagan was an esteemed American astronomer, astrophysicist, cosmologist, astrobiologist, and author, renowned for his work as a science communicator. Initially an associate professor at Harvard University, Sagan later became a full professor at Cornell University. His ability to convey complex scientific ideas to the public marked significant contributions to the understanding of the cosmos and our place within it, inspiring a generation of scientists and enthusiasts alike.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Carl Sagan Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
