---
import Layout from '../../layouts/Layout.astro';

const title = "Carl Carlson Voice Model - The Simpsons";
const description = "Download Carl Carlson Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best The Simpsons Voice Models.";
const rawHtmlContent = "Below we demonstrate you every <strong>Carl Carlson Voice Models</strong> so you can download and use them in any kind of program. Don't delay and start using the best The Simpsons voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Carl Carlson</span>\n  <span class=\"vm-cell category\">The Simpsons</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">700</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Hazza1/Carl/resolve/main/carl.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Carl-Carlson.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Carlton Carl Carlson is a fictional character from the animated series The Simpsons. A close friend and childhood buddy of Homer Simpson, Carl works alongside Homer at Springfield's nuclear power plant, where he occasionally serves as his supervisor. Known for his witty and laid-back personality, Carl refers to himself as an urban Lenny. A fan of bowling and frequent patron of Moe's Tavern, Carl holds a master's degree in nuclear physics and practices Buddhism. He is known for his progressive political views and his mysterious personal life, including being adopted by an Icelandic family with a notorious reputation.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Carl Carlson Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
