---
import Layout from '../../layouts/Layout.astro';

const title = "Carlton Banks (Alfonso Ribeiro) Voice Model - Actor";
const description = "Download Carlton Banks (Alfonso Ribeiro) Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Actor Voice Models.";
const rawHtmlContent = "Below we reveal to you every <strong>Carlton Banks (Alfonso Ribeiro) Voice Models</strong> so you are able to obtain and use them in whatever kind of program. Don't hesitate and begin using the top Actor voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Carlton Banks (Alfonso Ribeiro)</span>\n  <span class=\"vm-cell category\">Actor</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">200</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/RaggedySLG3/Carlton_Banks/resolve/main/Carlton_Banks.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/carlton-banks-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/carlton-banks-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/carlton-banks-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>Carlton Banks, portrayed by Alfonso Ribeiro, is the quintessential prep school student from the TV show The Fresh Prince of Bel-Air. Born on August 4, 1974, and cousin to Will Smith's character, Carlton is pedantic and often the butt of jokes about his height. Aspiring to join the Ivy League like his father, Carlton aims for Yale and later Princeton, his father’s alma mater. A conservative Republican, Carlton often clashes with Will, yet deeply cares about him, seeing him as the brother he always wanted. Despite initial antagonism, their relationship evolves into a familial bond. Carlton’s character navigates complex social issues, including racial profiling and the justice system, adding depth to his often comedic persona.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Carlton Banks (Alfonso Ribeiro) Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
