---
import Layout from '../../layouts/Layout.astro';

const title = "Carl Casagrande Voice Model - The Loud House";
const description = "Download Carl Casagrande Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best The Loud House Voice Models.";
const rawHtmlContent = "Here we show to you all <strong>Carl Casagrande Voice Models</strong> so you can access and use them in any kind of program. Don't delay and start using the top The Loud House voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Carl Casagrande</span>\n  <span class=\"vm-cell category\">The Loud House</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">250</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/iamalexcaspian/CarlCasagrande/resolve/main/CarlCasagrandeTLH-CG.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Carl-Casagrande-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Carl-Casagrande-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Carl-Casagrande-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Carlino Carl Casagrande is a spirited character from The Loud House universe, making his debut in the episode The Loudest Mission: Relative Chaos. He becomes a central figure in the show's spinoff, The Casagrandes, where his playful antics and family interactions are more deeply explored. Carl's vibrant personality and close-knit family dynamics highlight his role, adding depth and humor to the series as it explores the lives and adventures of the Casagrande family.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Carl Casagrande Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
