---
import Layout from '../../layouts/Layout.astro';

const title = "Cell Voice Model - Dave's House";
const description = "Download Cell Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Dave's House Voice Models.";
const rawHtmlContent = "Below we show to you every <strong>Cell Voice Models</strong> so you can download and use them in whatever kind of program. Don't hesitate and start using the best Dragon Ball voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Cell</span>\n  <span class=\"vm-cell category\">Dragon Ball</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language\">Italian</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Loren85/Cell-DBZ-Ita/resolve/main/Cell%20DBZ%20ITA%20300.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/cell-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/cell-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/cell-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>Cell, a bio-android created by Dr. Gero's computer from the future, is the main antagonist in the Androids and Cell Saga of the Dragon Ball series. Engineered using cells from Goku, Piccolo, Vegeta, Frieza, and King Cold, Cell possesses the ability to use their techniques and predict their moves. His ultimate goal is to absorb Androids No. 17 and No. 18 to achieve his perfect form. After killing Trunks and stealing his time machine, Cell travels to the past, where he orchestrates the Cell Games, challenging Earth's strongest fighters under the threat of global destruction. The saga culminates in a fierce battle where Cell is ultimately defeated by Goku's son, Gohan, who surpasses his limits to protect Earth.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Cell Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
