---
import Layout from '../../layouts/Layout.astro';

const title = "Chad Dickson [Numbuh 274] Voice Model - KND";
const description = "Download Chad Dickson [Numbuh 274] Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best KND Voice Models.";
const rawHtmlContent = "Below we demonstrate to you all <strong>Chad Dickson [Numbuh 274] Voice Models</strong> so you can obtain and use them in whatever kind of program. Don't wait any longer and start using the top KND voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Chad Dickson [Numbuh 274]</span>\n  <span class=\"vm-cell category\">KND</span>\n  <span class=\"vm-cell rvc\">RVC</span>\n  <span class=\"vm-cell epochs\">250</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/MusicBox27/KidsNextDoorRVC/resolve/main/ChadDickson.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Chad-dickson-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Chad-dickson-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Chad-dickson-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p>Numbuh 274, also known as Chad Dickson, was once hailed as the top agent of the Kids Next Door (K.N.D.). He ascended to the position of Supreme Leader of the KND following Numbuh 100's departure, leading the organization for five years. During his tenure, he mentored Numbuh 1 at the KND Antarctic Academy. However, Chad's legacy was questioned when he defected to the Teen Ninjas upon turning thirteen. It was later revealed that his defection was actually part of an undercover operation for the KND.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Chad Dickson [Numbuh 274] Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
