---
import Layout from '../../layouts/Layout.astro';

const title = "Charlotte Cracker Voice Model - One Piece";
const description = "Download Charlotte Cracker Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best One Piece Voice Models.";
const rawHtmlContent = "Below we show to you all <strong>Charlotte Cracker Voice Models</strong> so you are able to obtain and use them in whatever kind of program. Don't wait any longer and start using the best One Piece voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Charlotte Cracker</span>\n  <span class=\"vm-cell category\">One Piece</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">250</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/RevolutionaryPie/CrackerRVC/resolve/main/Cracker.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Charlotte-Craker-Voice-Models-280x280.webp 1x, /uploads/2024/04/Charlotte-Craker-Voice-Models.webp 2x\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Charlotte-Craker-Voice-Models-360x360.webp 1x, /uploads/2024/04/Charlotte-Craker-Voice-Models-360x360.webp 2x\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Charlotte-Craker-Voice-Models-360x360.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Charlotte Cracker</strong>, also known as Cracker the Thousand-Armed, is the tenth child of the Charlotte family and the fifteenth among his siblings. He holds the title of Biscuit Knight and serves as the Minister of Biscuits on Biscuits Island. As one of the three sweet commanders of the Big Mom Pirates, he was tasked with eliminating Sanji's Rescue Team in the Forest of Temptation on the eve of the tea party, making him a key antagonist in the Whole Cake Island arc.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Charlotte Cracker Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
