---
import Layout from '../../layouts/Layout.astro';

const title = "Charlie Sheen Voice Model - Actor";
const description = "Download Charlie Sheen Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Actor Voice Models.";
const rawHtmlContent = "Below we reveal you all <strong>Charlie Sheen Voice Models</strong> so you are able to access and use them in whatever type of program. Don't delay and begin using the best Actor voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Charlie Sheen</span>\n  <span class=\"vm-cell category\">Actor</span>\n  <span class=\"vm-cell rvc\">RVC2, RMVPE</span>\n  <span class=\"vm-cell epochs\">250</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/EgorHuf/RVCCharlieSheen/resolve/main/CharlieSheen.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Charlie-Sheen-Voice-Models.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Charlie Sheen</strong>, born Carlos Irwin Estévez on September 3, 1965, in New York, is a renowned American actor of both film and television. He is the son of fellow actor Martin Sheen. Sheen's family is deeply rooted in the entertainment industry, with his father Martin Sheen and siblings Emilio Estévez, Ramón Estévez, and Renée Estévez also pursuing careers in acting.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Charlie Sheen Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
