---
import Layout from '../../layouts/Layout.astro';

const title = "Charlie Simpson Voice Model - Singer";
const description = "Download Charlie Simpson Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Singer Voice Models.";
const rawHtmlContent = "Here we reveal you all <strong>Charlie Simpson Voice Models</strong> so you are able to obtain and use them in any type of program. Don't wait any longer and start using the most outstanding Singer voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Charlie Simpson</span>\n  <span class=\"vm-cell category\">Singer</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">200</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/SUP3RMASS1VE/CharlieSimpson/resolve/main/CharlieSimpson.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Charlie-Simpson-Voice-Models-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Charlie-Simpson-Voice-Models-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Charlie-Simpson-Voice-Models-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Charlie Robert Simpson</strong>, born on June 7, 1985, in Woodbridge, is a versatile musician known for his roles as the lead vocalist, guitarist, and songwriter in Fightstar, and as part of the composing trio in Busted. With two solo albums and an EP, Simpson explores a folk sound distinct from his previous projects. Despite studying at three different schools, including Brandeston Hall Preparatory School and Framlingham College in Suffolk, and Uppingham School in Rutland, where he received a theater scholarship, Simpson left formal education after completing his GCSEs. Notably, he earned an A* in music, showcasing his talent with a performance of Silverchair's Miss You Love during his exams. Uppingham School also boasted notable alumni like Harry Judd of McFly, Ed Lamb, Stephen Fry, Johnny Vaughan, and Elliot Minor.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Charlie Simpson Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
