---
import Layout from '../../layouts/Layout.astro';

const title = "Cordelius Voice Model - Brawl Stars";
const description = "Download Cordelius Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Brawl Stars Voice Models.";
const rawHtmlContent = "Below we show to you every <strong>Cordelius Voice Models</strong> so you are able to download and use them in whatever kind of program. Don't delay and begin using the most outstanding Brawl Stars voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Cordelius</span>\n  <span class=\"vm-cell category\">Brawl Stars</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/fernandogg2009/Cordelius/resolve/main/Cordelius.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Cordelius-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Cordelius-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Cordelius-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p><strong>Cordelius</strong> is a Legendary Brawler in Brawl Stars, unlockable at Tier 30 in Season 19: Enchanted Woods through the Brawl Pass or from the Starr Road. Known for his moderate health, damage output, and swift movement, Cordelius stands out with a unique Trait allowing him to charge his Super by staying close to enemies. Wielding a gardening tool, he launches two mushrooms as his primary attack, causing moderate damage. His Super, This Is My Domain, transports him and an enemy Brawler into the Shadow Realm, where Cordelius enjoys increased movement speed and faster reload times, while restricting the enemy's use of abilities.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Cordelius Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
