---
import Layout from '../../layouts/Layout.astro';

const title = "Cortana Voice Model - AI";
const description = "Download Cortana Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best AI Voice Models.";
const rawHtmlContent = "Here we reveal to you every <strong>Cortana Voice Models</strong> so you are able to download and use them in whatever kind of program. Don't hesitate and start using the top AI voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Cortana</span>\n  <span class=\"vm-cell category\">AI</span>\n  <span class=\"vm-cell rvc\">RVC</span>\n  <span class=\"vm-cell epochs\">150</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://drive.google.com/file/d/1-9vJj24w3dlLhMSOtXismX-D3pmkCEHB/view?usp=share_link\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Cortana</span>\n  <span class=\"vm-cell category\">AI</span>\n  <span class=\"vm-cell rvc\">RVC2, RMVPE</span>\n  <span class=\"vm-cell epochs\">500</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/datasets/mango19918/aimodels/resolve/main/cortana-windows-10.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Cortana-Voice-Models-280x280.webp 1x, /uploads/2024/04/Cortana-Voice-Models.webp 2x\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Cortana-Voice-Models-360x360.webp 1x, /uploads/2024/04/Cortana-Voice-Models-360x360.webp 2x\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Cortana-Voice-Models-360x360.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Cortana</strong>, a pivotal AI character in the Halo video game franchise, serves as the primary antagonist in the Reclaimer Saga. Known for her intelligent and lively personality, Cortana exhibits a sharp sense of humor. While her loyalty to humans is programmed, she claims it to be genuine, possibly due to being a clone of a truly human brain.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Cortana Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
