---
import Layout from '../../layouts/Layout.astro';

const title = "Cozy Glow Voice Model - My Little Pony";
const description = "Download Cozy Glow Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best My Little Pony Voice Models.";
const rawHtmlContent = "Below we reveal to you all <strong>Cozy Glow Voice Models</strong> so you are able to obtain and use them in any type of program. Don't delay and start using the best My Little Pony voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Cozy Glow</span>\n  <span class=\"vm-cell category\">My Little Pony</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/MusicBox27/MyLittlePonyRVC/resolve/main/CozyGlow%20V2.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Cozy Glow</span>\n  <span class=\"vm-cell category\">My Little Pony</span>\n  <span class=\"vm-cell rvc\">RVC2, RMVPE</span>\n  <span class=\"vm-cell epochs\">225</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/MusicBox27/MyLittlePonyRVC/resolve/main/CozyGlowV3.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Cozy-Glow-Voice-Models.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Cozy Glow</strong>, a school-aged Pegasus pony, makes her debut as a secondary character in the eighth season episode School Daze, later evolving into the primary antagonist in the season finale School Raze. With pink fur, curly light blue mane and tail, scarlet eyes, and a cutie mark depicting a tower, Cozy is a former student of Twilight Sparkle's Friendship School. After attempting to destroy all magic, she is imprisoned in Tartarus until released by Grogar to join his alliance with Queen Chrysalis and Lord Tirek, aiming to conquer Equestria by defeating Twilight and her friends.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Cozy Glow Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
