---
import Layout from '../../layouts/Layout.astro';

const title = "Crocodile Voice Model - One Piece";
const description = "Download Crocodile Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best One Piece Voice Models.";
const rawHtmlContent = "Below we reveal you every <strong>Crocodile Voice Models</strong> so you can obtain and use them in any kind of program. Don't delay and begin using the best One Piece voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Crocodile</span>\n  <span class=\"vm-cell category\">One Piece</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">250</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/RevolutionaryPie/CrocodileRVC/resolve/main/Crocodile.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Crocodile-Voice-Models.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Sir Crocodile</strong>, also known as the Desert King, is a renowned pirate who once held the esteemed title of one of the Seven Warlords of the Sea. He is the founder and former shadow president of the criminal organization Baroque Works, operating under the alias Mr. 0. Crocodile played a central antagonistic role in the Arabasta saga, where his ambitions to seize control of the Arabasta Kingdom were thwarted by the Straw Hat Pirates. Following his defeat by Monkey D. Luffy, Crocodile was incarcerated in Impel Down's Level VI. However, he later escaped through an informal alliance with Luffy and actively participated in the Battle of Marineford. Afterward, he ventured into the New World alongside Daz Bonez. Currently, he is a member of the Cross Guild, alongside former Warlord Dracule Mihawk and the Emperor of the Sea, Buggy.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Crocodile Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
