---
import Layout from '../../layouts/Layout.astro';

const title = "Daniel Noboa Azín Voice Model - Politician";
const description = "Download Daniel Noboa Azín Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Politician Voice Models.";
const rawHtmlContent = "Below we show to you all <strong>Daniel Noboa Azín Voice Models</strong> so you can download and use them in any type of program. Don't hesitate and start using the best Politician voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Daniel Noboa Azín</span>\n  <span class=\"vm-cell category\">Politician</span>\n  <span class=\"vm-cell rvc\">RVC2, RMVPE</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language\">Spanish</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Eddycrack864/Daniel-Noboa-AI-Voice/resolve/main/danielnoboa.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Daniel Noboa Azín</span>\n  <span class=\"vm-cell category\">Politician</span>\n  <span class=\"vm-cell rvc\">RVC2, RMVPE</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language\">Spanish</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Eddycrack864/Daniel-Noboa-AI-Voice/resolve/main/danielnoboa.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Daniel-Noboa-Voice-Models.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Daniel Roy Gilchrist Noboa Azín</strong>, born on November 30, 1987, in Miami, is an Ecuadorian-American administrator, entrepreneur, and politician, currently serving as the President of the Republic of Ecuador since November 23, 2023. His public career began in May 2021 when he was elected as a national assembly member for the United Ecuadorian Movement. He served in this position until May 2023, when Guillermo Lasso's government dissolved the parliament and called for extraordinary elections.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Daniel Noboa Azín Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
