---
import Layout from '../../layouts/Layout.astro';

const title = "DeadP47 Voice Model - Youtuber";
const description = "Download DeadP47 Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Youtuber Voice Models.";
const rawHtmlContent = "Below we reveal you every <strong>DeadP47 Voice Models</strong> so you can access and use them in any kind of program. Don't hesitate and start using the most outstanding Youtuber voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">DeadP47</span>\n  <span class=\"vm-cell category\">Youtuber</span>\n  <span class=\"vm-cell rvc\">Ov2</span>\n  <span class=\"vm-cell epochs\">100</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Joxi/RVCv2_models/resolve/main/DeadP47%20(Ov2).zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Deadp47</span>\n  <span class=\"vm-cell category\">Youtuber</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/andrew11123/Deadp47/resolve/main/Deadp47.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/DeadP47-Voice-Models-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/DeadP47-Voice-Models-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/DeadP47-Voice-Models-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>DeadP47</strong> is a prominent YouTube channel boasting over 59 million views. With its latest broadcast just a day ago on April 23, 2024, titled TUESDAY - Watching VIDEOS | LIVE STREAM, the channel has been active for 11 years, joining the platform on January 19, 2013, at 14:41. Originating from Georgia, it continues to captivate audiences with its content.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>DeadP47 Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
