---
import Layout from '../../layouts/Layout.astro';

const title = "Docter Eggman Voice Model - Sonic";
const description = "Download Docter Eggman Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Sonic Voice Models.";
const rawHtmlContent = "Below we reveal you all <strong>Docter Eggman Voice Models</strong> so you can obtain and use them in any type of program. Don't delay and start using the top Sonic voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Docter Eggman</span>\n  <span class=\"vm-cell category\">Sonic</span>\n  <span class=\"vm-cell rvc\">RVC2, RMVPE</span>\n  <span class=\"vm-cell epochs\">500</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/WholesalePringals/WPModels/resolve/main/Eggman%20(Mike%20Pollock).zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Doctor-Eggman-Voice-Models-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Doctor-Eggman-Voice-Models-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Doctor-Eggman-Voice-Models-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p><strong>Doctor Ivo Robotnik</strong>, also known as Eggman, grew up idolizing his grandfather, Professor Gerald Robotnik, a renowned scientist in the military forces (G.U.N). Inspired by his grandfather's brilliance, Ivo pursued a career in robotics, earning a Ph.D. with an IQ of 300. Despite his achievements, his inventions, like the Egg-o-Matic 2000, were dismissed by the scientific community. Frustrated, he turned to creating autonomous robots, driven by the desire for recognition. However, his vision of mass-producing obedient androids was rejected, leading him to resent society and vow to seize control to ensure his ideas were realized without question.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Docter Eggman Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
