---
import Layout from '../../layouts/Layout.astro';

const title = "Doctor Octopus Voice Model - Marvel";
const description = "Download Doctor Octopus Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Marvel Voice Models.";
const rawHtmlContent = "Here we reveal to you every <strong>Doctor Octopus Voice Models</strong> so you can download and use them in whatever type of program. Don't wait any longer and start using the most outstanding Marvel voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Doctor Octopus</span>\n  <span class=\"vm-cell category\">Marvel</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">260</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Hazza1/OttoOctavius/resolve/main/otto.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Doctor-octopus-Voice-Models-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Doctor-octopus-Voice-Models-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Doctor-octopus-Voice-Models-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Doctor Octopus</strong>, often abbreviated as Doc Ock, is a fictional character in Marvel Comics, portrayed as a brilliant yet somewhat bulky mad scientist with four powerful appendages resembling octopus tentacles. After a lab accident permanently fused his mechanical harness to his body, Octavius turned to a life of crime, clashing with the superhero Spider-Man. Debuting in The Amazing Spider-Man #3 (July 1963), Doctor Octopus has endured as one of Spider-Man's most prominent villains, considered one of his top three archenemies alongside the Green Goblin and Venom. He is the founder and leader of the Sinister Six, the first supervillain team opposing Spider-Man.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Doctor Octopus Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
