---
import Layout from '../../layouts/Layout.astro';

const title = "Doki Voice Model - Discovery Kids";
const description = "Download Doki Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Discovery Kids Voice Models.";
const rawHtmlContent = "Here we reveal to you every <strong>Doki Voice Models</strong> so you can download and use them in any kind of program. Don't wait any longer and begin using the most outstanding Discovery Kids voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Doki</span>\n  <span class=\"vm-cell category\">Discovery Kids</span>\n  <span class=\"vm-cell rvc\">RVC</span>\n  <span class=\"vm-cell epochs\">1000</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://drive.google.com/file/d/1L32aRKCmYzNpgWVngG1vDWVpDgpvNIzW/view?usp=share_link\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Doki</span>\n  <span class=\"vm-cell category\">Discovery Kids</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">250</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/EvanTheToonGuy40/RVC_Models/resolve/main/Doki.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Doki-Voice-Models.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Doki</strong>, also known as Doki's Adventures or Doki: The Series, is a Canadian animated television series tailored for children. Originally slated for release in 2020, the fourth season of the show faced cancellation, making it exclusively available on the company's Vimeo channel. The titular character, Doki, voiced by Griffin Hook in seasons 1-3 and William Romain in season 3, is an adventurous 6-year-old Dalmatian dog who fearlessly dives into crazy situations. Always open to suggestions and advice from his friends, Doki assumes the role of team leader and continually learns from his mistakes, applying newfound knowledge to his adventures. He is recognizable by his signature green cap.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Doki Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
