---
import Layout from '../../layouts/Layout.astro';

const title = "Don Krieg Voice Model - One Piece";
const description = "Download Don Krieg Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best One Piece Voice Models.";
const rawHtmlContent = "Here we show to you all <strong>Don Krieg Voice Models</strong> so you can obtain and use them in any kind of program. Don't wait any longer and begin using the best One Piece voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Don Krieg</span>\n  <span class=\"vm-cell category\">One Piece</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">286</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/cheezebone/SpongyCakeRVC/resolve/main/Don_Krieg(ENG-Funi)_286e.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Don-Krieg-Voice-Models-280x280.webp 1x, /uploads/2024/04/Don-Krieg-Voice-Models.webp 2x\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Don-Krieg-Voice-Models-360x360.webp 1x, /uploads/2024/04/Don-Krieg-Voice-Models-360x360.webp 2x\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Don-Krieg-Voice-Models-360x360.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Don Krieg</strong>, also known as Dirty Game and the Pirate Admiral, commands the Pirate Armada as its leader and is a notorious figure in the East Blue. His clandestine tactics and control over a fleet of fifty pirate ships earned him his infamous monikers. However, upon entering the treacherous waters of the Grand Line, Krieg's fleet suffered a devastating defeat at the hands of Dracule Mihawk, one of the Seven Warlords of the Sea. Forced to retreat to the<strong> East Blue</strong>, Krieg sets his sights on commandeering the Baratie as his new vessel. As the primary antagonist of the Baratie arc, his actions drive much of the conflict within the storyline.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Don Krieg Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
