---
import Layout from '../../layouts/Layout.astro';

const title = "Donald Trump Voice Model - Politician";
const description = "Download Donald Trump Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Politician Voice Models.";
const rawHtmlContent = "Below we show you all <strong>Donald Trump Voice Models</strong> so you are able to obtain and use them in whatever type of program. Don't hesitate and begin using the most outstanding Politician voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Donald Trump</span>\n  <span class=\"vm-cell category\">Politician</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">150</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/ThompsonAI9/ThompsonAI9RVC/resolve/main/donaldtrumplowenergy.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Donald-Trump-Voice-Models-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Donald-Trump-Voice-Models-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Donald-Trump-Voice-Models-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p><strong>Donald John Trum</strong>p, born on June 14, 1946, in Queens, New York, is a conservative American businessman, television personality, and politician who served as the 45th President of the United States from January 20, 2017, to January 20, 2021. He is currently the nominated Republican candidate for the 2024 presidential elections.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Donald Trump Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
