---
import Layout from '../../layouts/Layout.astro';

const title = "Dracule Mihawk Voice Model - One Piece";
const description = "Download Dracule Mihawk Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best One Piece Voice Models.";
const rawHtmlContent = "Below we demonstrate to you all <strong>Dracule Mihawk Voice Models</strong> so you can access and use them in whatever type of program. Don't hesitate and begin using the top One Piece voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Dracule Mihawk</span>\n  <span class=\"vm-cell category\">One Piece</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">260</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Skeetawn/OnePiece-Mihawk/resolve/main/OnePiece-DraculeMihawk.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Dracule-Mihawk-Voice-Models.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Dracule Mihawk</strong>, also known as Hawk-Eyes and formerly as the Marine Hunter, is a pirate and the current holder of the title of the World's Strongest Swordsman. He trained Roronoa Zoro during the time skip and was a member of the Seven Warlords of the Sea until the organization's dissolution. Currently, he is part of the Cross Guild alongside the former Warlord of the Sea Crocodile and the Emperor of the Sea Buggy. Due to his role and actions, he is considered a secondary antagonist in the Baratie arc and one of the central antagonists in the Marineford arc.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Dracule Mihawk Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
