---
import Layout from '../../layouts/Layout.astro';

const title = "Draven Voice Model - League of Legends";
const description = "Download Draven Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best League of Legends Voice Models.";
const rawHtmlContent = "Here we demonstrate you every <strong>Draven Voice Models</strong> so you can access and use them in any type of program. Don't hesitate and start using the best League of Legends voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Draven</span>\n  <span class=\"vm-cell category\">League of Legends</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">450</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Hazza1/Draven/blob/main/draven.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Draven (Ricardo Juarez)</span>\n  <span class=\"vm-cell category\">League of Legends</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language\">Portuguese</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/AlbinoSenpai/draven/resolve/main/draven.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Draven-Voice-Models-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Draven-Voice-Models-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Draven-Voice-Models-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p><strong>In the gladiatorial arenas of Noxus</strong>, where blood flows freely and strength is tested, few warriors command as much adoration as <strong>Draven</strong>. This seasoned soldier discovered that his flair for the dramatic, coupled with the spectacle of his Spinning Axes, garnered him unparalleled fame. Embracing his addiction to the spotlight, Draven vowed to defeat any challenger, ensuring that his name would echo throughout the empire for eternity.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Draven Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
