---
import Layout from '../../layouts/Layout.astro';

const title = "Edd Voice Model - Eddsworld";
const description = "Download Edd Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Eddsworld Voice Models.";
const rawHtmlContent = "Below we demonstrate you all <strong>EDD Voice Models</strong> so you are able to obtain and use them in any type of program. Don't delay and start using the most outstanding Ed, Edd n Eddy voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">EDD</span>\n  <span class=\"vm-cell category\">Ed, Edd n Eddy</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Loren85/EDD-videogame-2005/resolve/main/EDD%20Video%20game.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Edd</span>\n  <span class=\"vm-cell category\">Ed, Edd n Eddy</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">250</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/IsaiahTheCreator/Eddy/resolve/main/Edd.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Edd-Voice-Models.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Ed, Edd n Eddy</strong> was a Canadian-American animated television series that premiered on January 4, 1999, in the United States, with Canada as the producing country. Created by Canadian director and animator Danny Antonucci, it gained popularity with its debut episodes The Ed-Touchables and Nagged to Ed. The series concluded on November 8, 2009, after the release of its movie in the United States, marking 4 days, 10 months, and 10 years of uninterrupted airing. With 126 episodes, 4 specials, and 1 movie, it remains one of Cartoon Network's longest-running original series and the longest-lasting Canadian-produced animated series, with episodes still airing to this day.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>EDD Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
