---
import Layout from '../../layouts/Layout.astro';

const title = "Eli Vance Voice Model - Half Life";
const description = "Download Eli Vance Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Half Life Voice Models.";
const rawHtmlContent = "Here we demonstrate you all <strong>Eli Vance Voice Models</strong> so you are able to download and use them in whatever kind of program. Don't hesitate and start using the most outstanding Half Life voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Eli Vance</span>\n  <span class=\"vm-cell category\">Half Life</span>\n  <span class=\"vm-cell rvc\">RVC2, RMVPE</span>\n  <span class=\"vm-cell epochs\">350</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/ScruffyRVC/RFCRVCV2/resolve/main/eli-vance.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Eli Vance</span>\n  <span class=\"vm-cell category\">Half Life</span>\n  <span class=\"vm-cell rvc\">RVC2, RMVPE</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Helpfulmonster556/RVCModels/resolve/main/EliVanceV2.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/05/Eli-Vance-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/05/Eli-Vance-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/05/Eli-Vance-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Eli Vance</strong>, a distinguished physicist and researcher, is depicted as an African-American man appearing to be in his fifties or sixties, sporting short gray hair. He utilizes an orthopedic leg to replace his left leg, which he lost during an attack by a Bullsquid while assisting Isaac Kleiner in scaling a wall to enter City 17. Eli Vance is credited with designing the Gravity Gun, originally intended for handling hazardous materials with ease.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Eli Vance Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
