---
import Layout from '../../layouts/Layout.astro';

const title = "Eula Voice Model - Genshin Impact";
const description = "Download Eula Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Genshin Impact Voice Models.";
const rawHtmlContent = "Below we demonstrate you all <strong>Eula Voice Models</strong> so you can access and use them in any type of program. Don't wait any longer and begin using the top Genshin Impact voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Eula</span>\n  <span class=\"vm-cell category\">Genshin Impact</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language\">Japanese</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/iroaK/RVC2_Eula_GenshinImpact/resolve/main/EulaJP.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Eula</span>\n  <span class=\"vm-cell category\">Genshin Impact</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language\">English</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/xdcrosserxd/Eula/resolve/main/EulaModel.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Eula-Voice-Models-1.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Eula Lawrence</strong> joins the ranks of playable characters in Genshin Impact, hailing from the notorious and tyrannical Lawrence Clan as the niece of Schubert. Serving as the captain of the Reconnaissance Company within the Knights of Favonius, she made her debut in Version 1.5 through the Beneath the Light of Jadeite gacha banner.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Eula Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
