---
import Layout from '../../layouts/Layout.astro';

const title = "Ezili Voice Model - Bloons TD";
const description = "Download Ezili Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Bloons TD Voice Models.";
const rawHtmlContent = "Here we show to you all <strong>Ezili Voice Models</strong> so you are able to access and use them in any kind of program. Don't wait any longer and start using the best Bloons TD voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Ezili</span>\n  <span class=\"vm-cell category\">Bloons TD</span>\n  <span class=\"vm-cell rvc empty\">-</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Blocktoast64/Blocktoasts-RVC-Models/blob/main/Ezili.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Ezili</span>\n  <span class=\"vm-cell category\">Bloons TD</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">250</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Camthekirby/My-Funky-Models/resolve/main/Ezili.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Ezili-Voice-Models-1.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Ezili</strong> emerges as a formidable Hero in the Bloons TD 6 Generation, debuting in Version 7.0 of Bloons TD 6 and becoming the seventh character introduced in that game iteration. With her subsequent appearances in later games, Ezili's prowess and abilities continue to captivate players, cementing her status as a beloved and powerful addition to the Bloons TD universe. For further insight into Ezili's capabilities and background, exploring dedicated articles detailing her in-game presence is recommended.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Ezili Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
