---
import Layout from '../../layouts/Layout.astro';

const title = "Frank Sinatra Voice Model - Singer";
const description = "Download Frank Sinatra Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Singer Voice Models.";
const rawHtmlContent = "Below we reveal to you every <strong>Frank Sinatra Voice Models</strong> so you are able to obtain and use them in any type of program. Don't wait any longer and start using the best Singer voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Frank Sinatra</span>\n  <span class=\"vm-cell category\">Singer</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Kalfrin/VOICE-IA-MODEL-BY-KALFRIN/blob/main/Frank%20Sinatra%2040s.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Frank Sinatra</span>\n  <span class=\"vm-cell category\">Singer</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/datasets/Roscall/SinatraRVC/resolve/main/Sinatra%20RVC.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Frank-Sinatra-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Frank-Sinatra-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Frank-Sinatra-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p><strong>Frank Sinatra</strong>, born Francis Albert Sinatra on December 12, 1915, in Hoboken, New Jersey, and passing away on May 14, 1998, was one of the most influential and iconic American singers, actors, and entertainers of the 20th century. Known for his smooth, rich voice and impeccable phrasing and timing, Sinatra's career spanned over five decades, during which he became a cornerstone of American music and popular culture.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Frank Sinatra Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
