---
import Layout from '../../layouts/Layout.astro';

const title = "Gale Voice Model - Brawl Stars";
const description = "Download Gale Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Brawl Stars Voice Models.";
const rawHtmlContent = "Here we reveal you every <strong>Gale Voice Models</strong> so you can obtain and use them in any type of program. Don't delay and begin using the best Brawl Stars voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Gale</span>\n  <span class=\"vm-cell category\">Brawl Stars</span>\n  <span class=\"vm-cell rvc\">RVC2, RMVPE</span>\n  <span class=\"vm-cell epochs\">200</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Nick088/Gale_Brawl_Stars/resolve/main/Gale_Brawl_Stars.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/Gale-Voice-Models.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Gale is an Epic Brawler</strong>, also the first Chromatic Brawler, a rarity that has since been removed. He's a handyman working at Mr. P's Snowtel alongside Lou. Gale's attack consists of six snowballs, and his Super unleashes a gust of wind that blasts opponents far backward. His first Gadget, Air Propeller, creates a launching pad beneath him that can propel any target. The second Gadget, Tornado, summons a whirlwind that prevents enemies from passing through. His first Star Power, Stormy Blow, stuns enemies momentarily when pushed into obstacles. The second Star Power, Glacial Snow, briefly slows down enemies hit by his attack.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Gale Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
