---
import Layout from '../../layouts/Layout.astro';

const title = "Gangle Voice Model - TADC";
const description = "Download Gangle Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best TADC Voice Models.";
const rawHtmlContent = "Here we show you all <strong>Gangle Voice Models</strong> so you can access and use them in whatever type of program. Don't wait any longer and start using the most outstanding TADC voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Gangle</span>\n  <span class=\"vm-cell category\">TADC</span>\n  <span class=\"vm-cell rvc\">RVC2, RMVPE</span>\n  <span class=\"vm-cell epochs\">100</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Nick088/TADC_Gangle/resolve/main/TADC_Gangle.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Gangle (Marissa Lenti)</span>\n  <span class=\"vm-cell category\">TADC</span>\n  <span class=\"vm-cell rvc\">RVC2, RMVPE</span>\n  <span class=\"vm-cell epochs\">50</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Nick088/TADC_Gangle/resolve/main/TADC_Gangle.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Gangle-Voice-Models-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Gangle-Voice-Models-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Gangle-Voice-Models-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Gangle</strong> appears to lack a face, replaced instead by two theater masks of different genres. The first, and most frequently worn, is the tragedy mask, portraying a sad expression usually accompanied by tears, reflecting traits of constant crying and suffering. The second, glimpsed occasionally, is the comedy mask, depicted with a joyful and smiling expression, suggesting adoption of comedic characteristics, although this is yet to be confirmed.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Gangle Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
