---
import Layout from '../../layouts/Layout.astro';

const title = "Garen Voice Model - League of Legends";
const description = "Download Garen Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best League of Legends Voice Models.";
const rawHtmlContent = "Below we show to you every <strong>Garen Voice Models</strong> so you can download and use them in whatever type of program. Don't delay and start using the best League of Legends voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Garen</span>\n  <span class=\"vm-cell category\">League of Legends</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language\">Turkish</span>\n  <a class=\"download-btn\" href=\"https://app.kits.ai/convert/shared/garen-SMc50dwRMH,\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Garen-Voice-Models-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Garen-Voice-Models-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Garen-Voice-Models-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Born into the noble Crown Guard family alongside his younger sister Lux</strong>, Garen knew from an early age that he was expected to defend Demacia's throne with his life. His father, Pieter, was a decorated military officer, while his aunt Tianna was the Captain of the Sword of the Valiant Vanguard, an elite military force; both were recognized and highly respected by King Jarvan III. Therefore, it was assumed that over time, Garen would serve the king's son in the same way.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Garen Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
