---
import Layout from '../../layouts/Layout.astro';

const title = "Germán Garmendia Voice Model - Youtuber";
const description = "Download Germán Garmendia Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Youtuber Voice Models.";
const rawHtmlContent = "Here we demonstrate to you all <strong>Germán Garmendia Voice Models</strong> so you are able to access and use them in whatever type of program. Don't delay and start using the most outstanding Youtuber voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Germán Garmendia</span>\n  <span class=\"vm-cell category\">Youtuber</span>\n  <span class=\"vm-cell rvc\">RVC</span>\n  <span class=\"vm-cell epochs\">200</span>\n  <span class=\"vm-cell language\">Spanish</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/Krakon/GermanGarmendiaRVC/resolve/main/germangarmendia.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Germán Garmendia</span>\n  <span class=\"vm-cell category\">Youtuber</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">100</span>\n  <span class=\"vm-cell language\">Spanish</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/MilloXL07/GermanGarmendia/resolve/main/GermanGarmendia.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/German-Garmendia-Voice-Models.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Germán Alejandro Garmendia</strong> Aranis, born on April 25, 1990, in Copiapó, Chile, is a Chilean YouTuber, singer-songwriter, comedian, and writer. He rose to fame through his YouTube channel HolaSoyGerman, known for humorous videos depicting everyday situations. In 2013, he launched his gaming channel, JuegaGerman, which eventually surpassed his original channel in subscribers. Garmendia's channels rank as the second most-subscribed in Spanish, trailing behind the Argentine channel El Reino Infantil. He holds the title of the most-subscribed YouTuber in Chile.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Germán Garmendia Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
