---
import Layout from '../../layouts/Layout.astro';

const title = "Grom Voice Model - Brawl Stars";
const description = "Download Grom Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Brawl Stars Voice Models.";
const rawHtmlContent = "Below we reveal to you every <strong>Grom Voice Models</strong> so you can download and use them in whatever kind of program. Don't hesitate and start using the top Brawl Stars voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Grom</span>\n  <span class=\"vm-cell category\">Brawl Stars</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">250</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/cocoa7/GromBS/resolve/main/grom.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Grom-Voice-Models-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Grom-Voice-Models-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Grom-Voice-Models-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p><strong>Grom</strong> is an Epic Brawler who was available as a reward for achieving 9 wins in the 2021 Brawlidad Challenge. He features moderate health and high damage potential. Grom attacks by throwing his walkie-talkie, which explodes in a cross pattern upon contact. His Super involves a larger bomb that splits into four larger projectiles, also in a cross pattern, capable of destroying obstacles and pushing enemies away. His first Gadget, \"Watchtower,\" drops a tower that allows Grom and his allies to see inside bushes within its range. His second Gadget, \"Broadcast,\" modifies his next attack to launch three walkie-talkies. Grom's first Star Power, \"Patrol Round,\" boosts his movement speed when his Super is charged, while his second Star Power, \"X Factor,\" increases the damage of his attack based on its range.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Grom Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
