---
import Layout from '../../layouts/Layout.astro';

const title = "Gus Voice Model - Brawl Stars";
const description = "Download Gus Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Brawl Stars Voice Models.";
const rawHtmlContent = "Here we demonstrate to you all <strong>Gus Voice Models</strong> so you are able to access and use them in any type of program. Don't wait any longer and begin using the top Brawl Stars voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Gus</span>\n  <span class=\"vm-cell category\">Brawl Stars</span>\n  <span class=\"vm-cell rvc empty\">-</span>\n  <span class=\"vm-cell epochs empty\">-</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/kisLottUS/Gus_Brawl_Stars/resolve/main/GUS_RVCV2.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Gus-Voice-Models-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Gus-Voice-Models-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Gus-Voice-Models-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Gus</strong> is a Super Rare Brawler in the game who can be unlocked via the Starr Road. He features moderate health and damage but stands out due to his unique healing abilities and long range. Gus attacks by shooting a balloon at enemies and charges a bar each time he hits an opponent. When fully charged, his next attack releases a spirit that heals him or any ally who picks it up. His super grants him or a teammate a temporary shield that absorbs damage and gradually weakens. Gus's first gadget, \"Spirit Blast,\" instantly detonates all active spirits for immediate effects, while his second gadget, \"Soul Shift,\" instantly fills his charge bar at the cost of some of his current health. His first Star Power, \"Abundant Health,\" doubles the healing effect of his spirits, and his second Star Power, \"Spirit Guide,\" temporarily boosts the damage output of the receiver of his super.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Gus Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
