---
import Layout from '../../layouts/Layout.astro';

const title = "Jessie Voice Model - Brawl Stars";
const description = "Download Jessie Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Brawl Stars Voice Models.";
const rawHtmlContent = "Here we demonstrate to you every <strong>Jessie Voice Models</strong> so you can download and use them in whatever kind of program. Don't wait any longer and begin using the best Brawl Stars voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Jessie</span>\n  <span class=\"vm-cell category\">Brawl Stars</span>\n  <span class=\"vm-cell rvc\">RMVPE</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/asonist/Jessie/resolve/main/Jessie_e300_s1200.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Jessie-Voice-Models-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Jessie-Voice-Models-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Jessie-Voice-Models-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>Jessie is a Super Rare brawler</strong> characterized by moderately low health, moderate damage, and normal reload speed. Her primary attack launches an electric orb that bounces between enemies. Her super ability deploys Scrappy, a turret with moderate health and damage output, excellent for attacking, distracting, and defending. Her first gadget, \"Spark Plug,\" generates a seismic wave that slows all nearby enemies. Her second gadget, \"Booster,\" doubles the turret's attack speed for five seconds. Jessie's first Star Power, \"Energize,\" allows her to heal her turret by attacking it. Her second Star Power, \"Shocking Recoil,\" enables the turret to shoot energy orbs that can bounce between two enemies. Her Hyper Charge, Scrapyard 2.0, boosts the health and damage of her next super.</p>\n  </div>\n</div>\n\n";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Jessie Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
