---
import Layout from '../../layouts/Layout.astro';

const title = "Pavel Shampanov Voice Model - Youtuber";
const description = "Download Pavel Shampanov Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Youtuber Voice Models.";
const rawHtmlContent = "Here we reveal to you all <strong>Pavel Shampanov Voice Models</strong> so you are able to download and use them in any kind of program. Don't delay and begin using the top Youtuber voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Pavel Shampanov</span>\n  <span class=\"vm-cell category\">Youtuber</span>\n  <span class=\"vm-cell rvc\">RVC2, RMVPE</span>\n  <span class=\"vm-cell epochs\">500</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/dragoncrack/https___www_donationalerts_com_r_crack_dragon/resolve/main/SHAMPANOV.zip?download=true\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Pavel-Shampanov-Voice-Models-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Pavel-Shampanov-Voice-Models-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Pavel-Shampanov-Voice-Models-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p>A <strong>Russian YouTuber</strong>, who launched his channel in February 2014, has gained popularity by creating videos of himself playing mobile games such as Brawl Stars and Clash Royale, as well as occasionally Fortnite. His engaging content has attracted over 3.5 million subscribers. One of his most popular uploads, a video from July 2019 where he opened 1,000 Brawl Stars chests, has amassed over 11 million views. Born in Russia, he is part of a community that includes other Russian YouTube gamers like ARTA GAME.</p>\n  </div>\n</div>\n\n";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Pavel Shampanov Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
