---
import Layout from '../../layouts/Layout.astro';

const title = "R-T Voice Model - Brawl Stars";
const description = "Download R-T Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Brawl Stars Voice Models.";
const rawHtmlContent = "Here we demonstrate to you every <strong>R-T Voice Models</strong> so you are able to download and use them in whatever type of program. Don't delay and begin using the best Brawl Stars voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">R-T</span>\n  <span class=\"vm-cell category\">Brawl Stars</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">300</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/cocoa7/R-TBS/resolve/main/r-t.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <img class=\"character-image\" src=\"/uploads/2024/04/R-T.webp\" alt=\"Character\" />\n  <div class=\"character-description\">\n    <h3>About this character</h3>\n    <p><strong>R-T is a Mythical Brawler from Brawl Stars</strong>, known for his role as an information kiosk and the overseer of activities in Starr Park, all in the name of security. Introduced in Season 17: Mystery at Starr Park, players can unlock R-T at Level 30 of the Brawl Pass or find him on the Starr Road. R-T boasts moderately high health, normal movement speed, very low damage output with long range in his standard form, and transforms into a faster, high-damage, short-range form for his alternate state.</p>\n  </div>\n</div>\n\nR-T's unique mechanics revolve around marking opponents to enhance damage dealt to them, combined with the ability to split and transform for strategic mobility and attack versatility. His gadgets and star powers further refine his control and survivability on the battlefield, making him a versatile Brawler in both offensive and support roles. In the lore of Brawl Stars, R-T’s responsibility to monitor Starr Park adds a layer of intrigue and narrative depth, presenting him as not just a fighter in the arena but also a key figure in the overarching mystery of Starr Park";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>R-T Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
