---
import Layout from '../../layouts/Layout.astro';

const title = "Sandy Voice Model - Brawl Stars";
const description = "Download Sandy Voice Model for all the Voice Changer in different Devices for FREE. Enjoy the best Brawl Stars Voice Models.";
const rawHtmlContent = "Here we reveal to you every <strong>Sandy Voice Models</strong> so you can access and use them in any type of program. Don't hesitate and begin using the top Brawl Stars voices.\n<div class=\"voice-models-container\">\n<div class=\"voice-model\">\n  <span class=\"vm-cell name\">Sandy</span>\n  <span class=\"vm-cell category\">Brawl Stars</span>\n  <span class=\"vm-cell rvc\">RVC2</span>\n  <span class=\"vm-cell epochs\">250</span>\n  <span class=\"vm-cell language empty\">-</span>\n  <a class=\"download-btn\" href=\"https://huggingface.co/UltraSand/Sandy_Brawl_Stars/resolve/main/Ultimate-Sand.zip\" rel=\"nofollow\">Download</a>\n</div>\n<div class=\"vm-legend\">\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color category\"></span>Category</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color rvc\"></span>RVC Version</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color epochs\"></span>Epochs</span>\n  <span class=\"vm-legend-item\"><span class=\"vm-legend-color language\"></span>Language</span>\n</div>\n</div>\n\n<div class=\"character-about\">\n  <picture>\n  <source media=\"(max-width: 600px)\" srcset=\"/uploads/2024/04/Sandy-Voice-Models-280x280.webp\" />\n  <source media=\"(min-width: 601px)\" srcset=\"/uploads/2024/04/Sandy-Voice-Models-180x180.webp\" />\n  <img class=\"character-image\" src=\"/uploads/2024/04/Sandy-Voice-Models-180x180.webp\" alt=\"Character\" width=\"180\" height=\"180\" loading=\"lazy\" />\n</picture>\n  <div class=\"character-description\">\n    <h2>About this character</h2>\n    <p><strong>Sandy</strong>, a Legendary Brawler, has a unique affinity with sand, using pebbles as his attack to pelt enemies, and his super power creates a storm that renders him and his allies invisible to foes. He has a penchant for \"awake sleeping.\" His first gadget, \"Sleeping Pills,\" lets him briefly sleep to regain missing health. His second gadget, \"Sweet Dreams,\" makes his next attack briefly put enemies to sleep, though any damage awakens them. His first Star Power, \"Burying Sand,\" allows his super to deal continuous damage to enemies inside it. His second Star Power, \"Healing Minerals,\" heals him and his allies over time within the super's area.</p>\n  </div>\n</div>";
---

<Layout title={title} description={description}>
  <article class="article-content">
    <h1>Sandy Voice Models</h1>
    <div set:html={rawHtmlContent} />
  </article>
</Layout>
